@import './mixin.scss';


.navbar-text {
    @include navbar-font(rgba(230, 230, 230, 0.51));
    margin-left: 8px
}

.navbar {
    background-color: var(--Unnamed-Color, #171719) !important;

    .navbar-brand {
        .logo {
            width: 53px;
            height: 43px;
        }
    }
}