
//satoshi
@font-face {
    font-family: satoshi-regular;
    src: url("./satoshi/Satoshi-Regular.otf") format("opentype");
}

@font-face {
    font-family: satoshi-medium;
    src: url("./satoshi/Satoshi-Medium.otf") format("opentype");
}

@font-face {
    font-family: satoshi-light;
    src: url("./satoshi/Satoshi-Light.otf") format("opentype");
}

@font-face {
    font-family: satoshi-italic;
    src: url("./satoshi/Satoshi-Italic.otf") format("opentype");
}


//

@font-face {
    font-family: spaceGrotesk-regular;
    src: url("./space-grotesk/SpaceGrotesk-Regular.otf") format("opentype");
}

@font-face {
    font-family: spaceGrotesk-medium;
    src: url("./space-grotesk/SpaceGrotesk-Medium.otf") format("opentype");
}

@font-face {
    font-family: spaceGrotesk-semiBold;
    src: url("./space-grotesk/SpaceGrotesk-SemiBold.otf") format("opentype");
}
